---
import { getCollection } from "astro:content";
import Layout from "../../layouts/layout.astro";
import ComunicadoCard from "../../components/comunicado-card.astro";

const comunicados = await getCollection("comunicadoCollection");

---

<Layout>
  <div class="page-display">
    <h1>Indice de comunicados</h1>
    <section class="flex-content-lg">
      {
        comunicados.map((item) => (
          <ComunicadoCard
              titulo={item.data.titulo}
              slug={item.data.slug}
              resumen={item.data.resumen}
              categoria={item.data.categoria}
              imgUrl={item.data.cover.url}
              imgAlt={item.data.cover.alternativeText}
          />
        ))
      }
    </section>
  </div>
</Layout>
