---
interface Props {
  titulo: string;
  slug: string;
  categoria: string;
  resumen?: string;
  imgAlt: string | null;
  imgUrl: string;
}

const { titulo, slug, categoria, resumen, imgAlt, imgUrl } = Astro.props;

const imageSource = import.meta.env.CMS_URL + imgUrl;
---

<article class="flex-content-lg my-4">
  <div class="flex-content-row-sm flex-wrap">
    <header>
      <img src={imageSource} alt={imgAlt} width={227} height={227} />
    </header>
    <span class="flex-content-md flex-wrap flex-4/6">
      <h2 class="co-title">{titulo}</h2>
      <p class="co-resume">
        {resumen || ""}
      </p>
      <p class="co-category">{categoria}</p>
    </span>
  </div>
  <footer>
    <a class="button" data-size="md" href={`/comunicados/${slug}`}>
      Abrir publicación
    </a>
  </footer>
</article>

<style>
  @reference "#app.css";

  .co-title {
    @apply text-emphasis
    text-mocha-950
      font-semibold
     self-start;
  }

  .co-resume {
    @apply overflow-clip text-mocha-950;
  }

  .co-category {
    @apply text-roast-500 capitalize underline underline-offset-2;
  }
</style>
