---
import Layout from "../layouts/layout.astro";
import frImgUno from "../assets/images/fr-img-uno.webp";
import frImgDos from "../assets/images/fr-img-dos.webp";
import heroImg from "../assets/images/hero-img.webp";
import ComunicadoCard from "../components/comunicado-card.astro";
import Card from "../components/card.astro";
import { getCollection } from "astro:content";
const comunicados = await getCollection("comunicadoCollection");
---

<Layout>
  <div class="page-display">
    <div class="flex-content-lg mb-16">
      <img
        src={heroImg.src}
        width={1080}
        class="object-cover aspect-4/3 md:aspect-12/4"
        alt="Vista frontal del u.e.e 'dr. josé francisco torrealba'"
      />
      <h1 class="hero-title">U.E.E<br />Dr. José Francisco Torrealba</h1>
    </div>
    <section class="flex-content-lg section-box">
      <h2 class="section-title self-start">Formación Académica</h2>
      <section class="flex-content-sm section-box">
        <h3 class="section-subtitle">Educación Primaria</h3>
        <span>
          <p>
            "Formación de jovenes con valores ciudadanos que buscan igualdad,
            conocimiento y respeto mutuo, involucrados desde una edad temprana
            en el desarrollo del entorno y la sociedad venezolana."
          </p>
        </span>
      </section>
      <section class="flex-content-sm section-box">
        <h3 class="section-subtitle">Preescolar</h3>
        <span>
          <p>
            "Formación desde la infancia temprana valores como: la cooperación,
            afecto, moralidad cumpliendo ciertas pautas de comportamiento dentro
            del ambiente social."
          </p>
        </span>
      </section> 
      <a href="/formacion" class="button text-emphasis"> Formación escolar </a>
    </section>
    <section class="flex-content-lg section-box">
      <h2 class="section-title self-start">Comunicados</h2>
      {
        comunicados.map((item) => (
          <ComunicadoCard
            titulo={item.data.titulo}
            slug={item.data.slug}
            resumen={item.data.resumen}
            categoria={item.data.categoria}
            imgUrl={item.data.cover.url}
            imgAlt={item.data.cover.alternativeText}
          />
        ))
      }
    </section>
  </div>
</Layout>

<style>
  @reference "#app.css";

  .hero-title {
    @apply font-bold mb-8 text-mocha-900;
  }

  .section-box {
    @apply mb-8;
  }

  .section-title {
    @apply font-bold text-mocha-900;
  }

  .section-subtitle {
    @apply font-bold text-roast-500;
  }
</style>
